<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    {% for tweet in twitter_post.all %}
    <p>Author ID: {{tweet.author_id}} </p>

    <p>Tweet created at: {{tweet.created_at}} </p>

    <p>Author Name: {{tweet.author_name}} </p>

    <p>Author Username: {{tweet.author_username}} </p>
 
    <p>URL to Tweet: {{tweet.url_to_tweet}} </p>

    <p>Tweet: {{tweet.tweet}} </p>

    <hr>
{% endfor %}
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>

    {{ room_name|json_script:"room-name" }}
    
    <script>
        
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
        
        console.log('test1')
        //chatSocket.onmessage = function(e) {
        //    const data = JSON.parse(e.data);
        //    document.querySelector('#chat-log').value += (data.message + '\n');
        //}
        chatSocket.onmessage = function(e) {
            console.log('test2')
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (
                data.message.author_name + "\n" +
                data.message.author_username + "\n" +
                data.message.tweet + "\n" + 
                data.message.created_at +"\n"+
                "--------------------------------------------\n"
                );
            
        };
    </script>

</body>
</html>